body {
	background-image: url("../img/bg1.jpg");
	background-size: cover;
}

.textbox {
	background: rgba(255,255,255,.75);
	width: 600px;
	height: 400px;
	margin: 150px auto;
	border-radius: 25px;
	text-align: center;
	font-family: 'Erica One', cursive;
}

